[Unit]
Description=pxls.space Frontend
Wants=network-online.target
After=network-online.target
After=getty.service
Requires=pxls-frontend.socket

[Service]
User={{ login_user }}
Group={{ login_user }}
WorkingDirectory={{ frontend_deploy_path }}
ExecStart=/usr/bin/npm start
StandardInput=socket
StandardOutput=journal
Type=simple
RemainAfterExit=false
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target